Repository SELab-2/Dwengo-4, pull requests merged in 2025-04, with the labels that each got.

#296 Upgrade logger
  dwengo_backend/middleware/logResponse.ts
Labels: enhancement, backend

#295 Upgrade errorafhandeling
  dwengo_backend/errors/errorFunctions.ts
  dwengo_backend/package-lock.json
  dwengo_backend/services/classService.ts
  dwengo_backend/services/feedbackService.ts
  dwengo_backend/services/inviteService.ts
  dwengo_backend/services/joinRequestService.ts
  dwengo_backend/services/localLearningObjectService.ts
  dwengo_backend/services/localLearningPathNodeService.ts
  dwengo_backend/services/localLearningPathService.ts
  dwengo_backend/services/progressService.ts
  dwengo_backend/services/questionsService.ts
  dwengo_backend/services/studentAssignmentService.ts
  dwengo_backend/services/teacherServices/teacherAssignmentService.ts
  dwengo_backend/services/teacherTeamsService.ts
Labels: enhancement, backend, errors

#312 console.error in errorFunction.ts veranderd naar logger.error
  dwengo_backend/errors/errorFunctions.ts
Labels: backend

#229 begin integratietesten te begrijpen. Deze testen kunnen in principe n…
  dwengo_backend/tests/questions.test.ts
Labels: tests
