Repository SELab-2/Dwengo-4, pull requests merged in 2025-05, with the labels that each got.

#230 Learning object and path tests
  dwengo_backend/controllers/learningObject/learningObjectController.ts
  dwengo_backend/controllers/teacher/teacherLocalLearningObjectController.ts
  dwengo_backend/routes/learningObject/learningObjectRoutes.ts
  dwengo_backend/services/combinedLearningObjectService.ts
  dwengo_backend/services/dwengoLearningObjectService.ts
  dwengo_backend/services/localDBLearningObjectService.ts
  dwengo_backend/tests/helpers/testDataCreation.ts
  dwengo_backend/tests/learningObject.test.ts
  dwengo_backend/tests/localLearningObject.test.ts
Labels: tests

#325 Question Test Fix
  dwengo_backend/controllers/question/questionController.ts
  dwengo_backend/tests/questions.test.ts
Labels: urgent, tests

#330 Integratie testen runnen en autodeployment
  .github/workflows/deploy.yml
Labels: server

#337 Index file herstructurering
  dwengo_backend/config/cors.ts
  dwengo_backend/config/swagger.ts
  dwengo_backend/helpers/generateToken.ts
  dwengo_backend/helpers/getUserFromAuthRequest.ts
  dwengo_backend/index.ts
  dwengo_backend/interfaces/extendedTypeInterfaces.ts
  dwengo_backend/middleware/authMiddleware/questionsAuthMiddleware.ts
  dwengo_backend/middleware/validateRequest.ts
  dwengo_backend/package.json
  dwengo_backend/routes/index.ts
  dwengo_backend/routes/question/questionRoutes.ts
  dwengo_backend/server.ts
Labels: enhancement

#336 ZodSchemas voor validate
  dwengo_backend/controllers/progressController.ts
  dwengo_backend/controllers/question/questionController.ts
  dwengo_backend/controllers/student/studentSubmissionController.ts
  dwengo_backend/controllers/teacher/teacherLocalLearningPathNodesController.ts
  dwengo_backend/controllers/teacher/teacherSubmissionController.ts
  dwengo_backend/middleware/authMiddleware/questionsAuthMiddleware.ts
  dwengo_backend/routes/assignment/assignmentRoutes.ts
  dwengo_backend/routes/assignment/studentAssignmentRoutes.ts
  dwengo_backend/routes/assignment/teacherAssignmentRoutes.ts
  dwengo_backend/routes/authentication/studentAuthRoutes.ts
  dwengo_backend/routes/authentication/teacherAuthRoutes.ts
  dwengo_backend/routes/class/studentClassRoutes.ts
  dwengo_backend/routes/class/teacherClassRoutes.ts
  dwengo_backend/routes/feedback/feedbackRoutes.ts
  dwengo_backend/routes/invite/teacherInviteRoutes.ts
  dwengo_backend/routes/joinRequest/joinRequestRoutes.ts
  dwengo_backend/routes/learningObject/learningObjectRoutes.ts
  dwengo_backend/routes/learningPath/learningPathRoutes.ts
  dwengo_backend/routes/progress/studentProgressRoutes.ts
  dwengo_backend/routes/progress/teacherProgressRoutes.ts
  dwengo_backend/routes/question/questionRoutes.ts
  dwengo_backend/routes/submission/studentSubmissionRoutes.ts
  dwengo_backend/routes/submission/submissionRoutes.ts
  dwengo_backend/routes/submission/teacherSubmissionRoutes.ts
  dwengo_backend/routes/teacherMadeLearningObject/teacherLocalLearningObjectRoutes.ts
  dwengo_backend/routes/teacherMadeLearningPath/teacherLocalLearningPathNodesRoutes.ts
  dwengo_backend/routes/teacherMadeLearningPath/teacherLocalLearningPathRoutes.ts
  dwengo_backend/routes/team/studentTeamRoutes.ts
  dwengo_backend/routes/team/teacherTeamRoutes.ts
  dwengo_backend/routes/team/teamRoutes.ts
  dwengo_backend/services/progressService.ts
  dwengo_backend/tests/learningObject.test.ts
  dwengo_backend/zodSchemas/authSchemas.ts
  dwengo_backend/zodSchemas/body/authSchemas.ts
  dwengo_backend/zodSchemas/body/commonSchemas.ts
  dwengo_backend/zodSchemas/body/learningObjectSchemas.ts
  dwengo_backend/zodSchemas/body/questionSchemas.ts
  dwengo_backend/zodSchemas/body/teamSchemas.ts
  dwengo_backend/zodSchemas/bodySchemas.ts
  dwengo_backend/zodSchemas/emailSchemas.ts
  dwengo_backend/zodSchemas/idSchemas.ts
  dwengo_backend/zodSchemas/index.ts
  dwengo_backend/zodSchemas/params/commonSchemas.ts
  dwengo_backend/zodSchemas/params/mergedSchemas.ts
  dwengo_backend/zodSchemas/params/numericIdSchemas.ts
  dwengo_backend/zodSchemas/params/stringIdSchemas.ts
  dwengo_backend/zodSchemas/query/querySchemas.ts
Labels: enhancement, backend, errors

#322 Meerdere CRUD operaties na elkaar zijn nu gewikkeld in een transactie
  dwengo_backend/controllers/teacher/teacherAssignmentController.ts
  dwengo_backend/controllers/teacher/teacherTeamsController.ts
  dwengo_backend/errors/errorFunctions.ts
  dwengo_backend/services/classService.ts
  dwengo_backend/services/joinRequestService.ts
  dwengo_backend/services/localLearningPathService.ts
  dwengo_backend/services/progressService.ts
  dwengo_backend/services/questionsService.ts
  dwengo_backend/services/teacherAssignmentService.ts
  dwengo_backend/services/teacherTeamsService.ts
Labels: enhancement, backend

#328 Website vertalen batch 2
  frontend/src/components/teacher/assignment/AddAssignmentForm.tsx
  frontend/src/components/teacher/assignment/AssignmentTypeSelection.tsx
  frontend/src/components/teacher/assignment/CustomDropdownMultiselect.tsx
  frontend/src/components/teacher/assignment/FormFields.tsx
  frontend/src/components/teacher/assignment/TeamCreationModal.tsx
  frontend/src/components/teacher/assignment/TeamsDisplay.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/teacher/AssignmentAdd.tsx
Labels: frontend

#343 beheer button in classpage nu gecentreerd
  frontend/src/pages/teacher/ClassesTeacher.tsx
Labels: enhancement, frontend

#347 "Bugfix" verwijderen van klassen
  frontend/src/pages/teacher/EditClassTeacher.tsx
Labels: bug

#348 bestelling voor Berkay
  dwengo_backend/controllers/learningPath/learningPathController.ts
  dwengo_backend/routes/learningPath/learningPathRoutes.ts
  dwengo_backend/services/combinedLearningObjectService.ts
  dwengo_backend/services/combinedLearningPathService.ts
  dwengo_backend/services/learningPathService.ts
  dwengo_backend/services/localDBLearningObjectService.ts
  dwengo_backend/services/localLearningPathService.ts
  frontend/src/pages/learningPath/learningPath.tsx
  frontend/src/routes/router.tsx
  frontend/src/util/teacher/learningPath.ts
Labels: backend

#361 template env file fixed
  .env.template
Labels: bug

#249 Question stellen student implementeren, overzicht assignments student, overzicht individuele assignment student.
  dwengo_backend/services/questionsService.ts
  frontend/img/favicon.png
  frontend/index.html
  frontend/package-lock.json
  frontend/src/components/shared/LanguageChooser.tsx
  frontend/src/components/student/AssignmentOverview.tsx
  frontend/src/components/student/ClassesStudent.tsx
  frontend/src/components/student/NavStudent.tsx
  frontend/src/components/teacher/AssignmentOverviewTeacher.tsx
  frontend/src/components/teacher/NavTeacher.tsx
  frontend/src/index.css
  frontend/src/pages/student/AssignmentStudent.tsx
  frontend/src/pages/student/AssignmentsStudent.tsx
  frontend/src/pages/student/LoginStudent.tsx
  frontend/src/pages/student/NewQuestion.tsx
  frontend/src/pages/student/QuestionOverview.tsx
  frontend/src/pages/student/QuestionsForAssignment.tsx
  frontend/src/pages/student/index.tsx
  frontend/src/pages/teacher/Assignment.tsx
  frontend/src/routes/router.tsx
  frontend/src/util/student/questions.ts
Labels: frontend

#363 Website vertalen batch 3
  frontend/src/components/learningPath/FilterCommandMenu.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/learningPath/learningPath.tsx
  frontend/src/pages/learningPath/learningPaths.tsx
  frontend/src/pages/teacher/AssignmentEdit.tsx
Labels: frontend

#370 finetunen logger
  dwengo_backend/middleware/logResponse.ts
Labels: backend

#372 Lazyloading van routes
  frontend/src/App.tsx
  frontend/src/routes/router.tsx
Labels: frontend

#365 added api prefix to backend routes
  .env.template
  dwengo_backend/index.ts
Labels: backend

#379 Uiterlijk leerpaden aanpassen
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/pages/learningPath/learningPath.tsx
Labels: frontend

#388 Website vertalen batch 4
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/student/AssignmentStudent.tsx
  frontend/src/pages/student/NewQuestion.tsx
  frontend/src/pages/student/QuestionOverview.tsx
  frontend/src/pages/student/QuestionsForAssignment.tsx
  frontend/src/pages/teacher/Assignment.tsx
Labels: frontend

#390 Apiroute om klas te verlaten aangepast
  dwengo_backend/controllers/student/studentClassController.ts
  frontend/src/pages/student/StudentClassIndex.tsx
  frontend/src/util/student/class.ts
Labels: backend, frontend

#392 Laatste vertalingen
  frontend/src/components/student/NavStudent.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/student/AssignmentStudent.tsx
  frontend/src/pages/student/AssignmentsStudent.tsx
Labels: frontend
